*{
    font-family: 'Roboto', sans-serif;
}

body{
    background: linear-gradient(100deg,
     #B79891 0%,
     #94716B 123.44%);
}

p{
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
    text-align: center;
    margin-top: 74px; 
}

h1{
    color: #FFFFFF;
    font-size: 34px;
    text-align: center;
    margin-top: 140px;
}

input{
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.6);
    width: 300px;
    height: 37px;
    font-size: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    margin-bottom: 25px;
    cursor: pointer;
    font-weight: 500;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
}

button{
    display: block;
    background: #644242;
    color: rgba(0, 0, 0, 0.6);
    width: 35;
    height: 17;
    margin-right: auto;
    margin-left: auto;
    border: none;
    cursor: pointer;
    font-size: 25px;
    line-height: 37px;
    border-radius: 5px;
}

button:active{
    opacity: 0.6;
}

a{
    color: #FFFFFF;
    text-align: center;
    margin-top: 180px;
    display: block;
    font-size: 14px;
    cursor: pointer;
}
